@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FAFAF9;
    font-family: 'Sora', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background: #FFFFFF;
    padding: 16px;
    border-radius: 16px;
    max-width: 336px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}
.card-image img {
    width: 336px;
    height: 152px;
    border-radius: 16px;
}
.card-pill {
    margin: 16px 0px;
}
.card-pill span{
    padding: 6px 16px;
    font-size: 10px;
    background: #E6D6FC;
    color: #883AE1;
    border-radius: 16px;
    font-weight: 900;
}
.card-title {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 6px;
    color: #20293A;
}
.card-body {
    font-size: 14px;
    color: #6C727F;
    margin-bottom: 20px;
}
.card-separator {
    height: 1px;
    background: #E5EAF0;
    margin-bottom: 20px;
    width: 368px;
    transform: translateX(-16px);
}
.card-author {
    font-size: 12px;
    color: #6C727F;
    margin-bottom: 4px;
}